﻿@{
    Layout = "~/Views/Shared/_LayoutMarket.cshtml";
}

<div class="heading">
    <h1>hakkımızda</h1>
    <p> <a href="home.html">ana sayfa >></a> hakkında </p>
</div>

<section class="about">

    <div class="image">
        <img src="~/grocery website/image/about-img.jpg" alt="Mağaza Resmi">
    </div>

    <div class="content">
        <span>Mağazamıza Hoş Geldiniz</span>
        <h3>Taze ve Organik Market Ürünleri</h3>
        <p>Biz, en kaliteli ve taze organik ürünleri müşterilerimize sunmak için titizlikle çalışıyoruz. Yalnızca doğal tarımla üretilen, katkı maddesi içermeyen gıda ürünleriyle sağlıklı yaşamı destekliyoruz. Mağazamızda her ürün, doğallığı ve lezzetiyle sizleri bekliyor.</p>
        <p>Müşterilerimize en taze sebze, meyve, et ve süt ürünlerini sunarken, aynı zamanda sağlıklı gıda alışkanlıklarını teşvik etmeyi amaçlıyoruz. Yüksek kaliteli organik ürünlerimizle ailenizin sağlığını ön planda tutuyoruz.</p>
        <a href="#" class="btn">Daha Fazla Oku</a>
    </div>


</section>

<section class="gallery">

    <h1 class="title"> bizim <span>galeri</span>  </h1>

    <div class="box-container">

        <div class="box">
            <img src="~/grocery website/image/gallery-img-1.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="~/grocery website/image/gallery-img-2.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="~/grocery website/image/gallery-img-3.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="~/grocery website/image/gallery-img-4.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>
        <div class="box">
            <img src="~/grocery website/image/gallery-img-5.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="~/grocery website/image/gallery-img-6.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

    </div>

</section>