@*@model List<Entities.Concrete.Category>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMarket.cshtml";
}

@*<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Desc
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
        </tr>
    }

</table>*@


<section class="home">

    <div class="slides-container">

        <div class="slide active">
            <div class="content">
                <span>Taze ve Organik</span>
                <h3>%50'ye varan indirim</h3>
                <a href="/Home/Shop" class="btn">Şimdi alışveriş yap</a>
            </div>
            <div class="image">
                <img src="~/grocery website/image/home-img-1.png" alt="">
            </div>
        </div>

        <div class="slide">
            <div class="content">
                <span>Taze ve Organik</span>
                <h3>%50'ye varan indirim</h3>
                <a href="/Home/Shop" class="btn">şimdi alışveriş yap</a>
            </div>
            <div class="image">
                <img src="~/grocery website/image/home-img-2.png" alt="">
            </div>
        </div>

        <div class="slide">
            <div class="content">
                <span>Taze ve Organik</span>
                <h3>%50'ye varan indirim</h3>
                <a href="/Market/Shop" class="btn">Şimdi alışveriş yap</a>
            </div>
            <div class="image">
                <img src="~/grocery website/image/home-img-3.png" alt="">
            </div>
        </div>

    </div>

    <div id="next-slide" class="fas fa-angle-right" onclick="next()"></div>
    <div id="prev-slide" class="fas fa-angle-left" onclick="next()"></div>

</section>

<section class="banner-container">

    <div class="banner">
        <img src="~/grocery website/image/banner-1.jpg" alt="">
        <div class="content">
            <span>Sınırlı satışlar</span>
            <h3>%50'ye varan indirim</h3>
            <a href="/Home/Shop" class="btn">Şimdi alışveriş yap</a>
        </div>
    </div>

    <div class="banner">
        <img src="~/grocery website/image/banner-2.jpg" alt="">
        <div class="content">
            <span>Sınırlı satışlar</span>
            <h3>%50'ye varan indirim</h3>
            <a href="/Home/Shop" class="btn">Şimdi alışveriş yap</a>
        </div>
    </div>

    <div class="banner">
        <img src="~/grocery website/image/banner-3.jpg" alt="">
        <div class="content">
            <span>Sınırlı satışlar</span>
            <h3>%50'ye varan indirim</h3>
            <a href="/Home/Shop" class="btn">Şimdi alışveriş yap</a>
        </div>
    </div>

</section>